<footer class="footer">
    <div class="first-stage">
        <div class="row expanded">
            <div class="columns large-3 medium-6 small-12">
                <ul class="footer__list">
                    <li class="footer__items">
                        <a href="">
                            The Tailor's Guide
                        </a>
                    </li>
                    <li class="footer__items">
                        <a href="">Contact us</a>
                    </li>
                    <li class="footer__items">
                        <a href="">FAQ</a>
                    </li>
                    <li class="footer__items">
                        <a href="">Press</a>
                    </li>
                </ul>
            </div>
            <div class="columns large-3 medium-6 small-12">
                <ul class="footer__list">
                    <li class="footer__items">
                        <a href="">
                            Shipping information
                        </a>
                    </li>
                    <li class="footer__items">
                        <a href="">Privacy policy</a>
                    </li>
                    <li class="footer__items">
                        <a href="">Terms & Conditions</a>
                    </li>
                    <li class="footer__items">
                        <a href="">Gift Certificates</a>
                    </li>
                </ul>
            </div>
            <div class="columns large-3 medium-6 small-12 text-center">
                <h4>
                    Latest news & Exclusive offers
                </h4>
                <a href="" class="btn-footer">
                    Become a member
                </a>
            </div>
            <div class="columns large-3 medium-6 small-12 text-center">
                <div class="wrp-img">
                    <a href="javascript:vois(0)">
                        <img src="images/footer-img.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="second-stage">
        <div class="row expanded">
            <div class="columns large-3 medium-12 small-12">
                <ul class="social__menu">
                    <li class="social__items">
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="social__items">
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="social__items">
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social__items">
                        <a href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="social__items">
                        <a href="">
                            <i class="fab fa-apple"></i>
                        </a>
                    </li>
                    <li class="social__items">
                        <a href="">
                            <i class="fab fa-google-play"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="colums large-6 medium-12 small-12 text-center">
                <p class="copyright">
                    Copyright © 2003-2020 Tailor Store Sweden AB. All rights reserved.
                    <br>
                    All works are property of their respective owners and may not be used elsewhere without written
                    permission.
                </p>
            </div>
        </div>
    </div>
</footer>