<header class="header">
    <div class="row expanded large-collapse">
        <div class="columns large-4 d-none-1023">
            <div class="side side__left">
                <ul class="one-menu__list">
                    <li class="one-menu__items">
                        <a href="">
                            магазин сорочек
                        </a>
                    </li>
                    <li class="one-menu__items">
                        <a href="">
                            создать свою сорочку
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="columns large-4 medium-12">
            <div class="side side__center">
                <a href="javascript:void(0)" class="logo">
                    <img src="images/logo.png" alt="Alexandr Gapchuk personal tailoring">
                </a>
                <a href="javascript:void(0)" class="mobile-btn" id="mobile-btn">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </div>
        <div class="columns large-4 d-none-1023">
            <div class="side side__right">
                <ul class="one-menu__list">
                    <li class="one-menu__items">
                        <a href="">
                            мужской костюм
                        </a>
                    </li>
                    <li class="one-menu__items">
                        <a href="">
                            свадебный костюм
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row expanded large-collapse">
        <div class="columns small-12">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__items">
                        <a href="javascript:void(0)">О нас \ о продукте </a>
                    </li>
                    <li class="menu__items">
                        <a href="#about-us.html">Галерея</a>
                    </li>
                    <li class="menu__items">
                        <a href="#about-us.html">Мои рекомендации</a>
                    </li>
                    <li class="menu__items">
                        <a href="#about-us.html">Подарочный сертификат</a>
                    </li>
                    <li class="menu__items">
                        <a href="#about-us.html">Акции \ предложения</a>
                    </li>
                    <li class="menu__items">
                        <a href="#about-us.html">Контакты</a>
                    </li>
                    <li class="menu__items">
                        <a href="#about-us.html"><i class="fas fa-user"></i></a>
                    </li>
                    <li class="menu__items">
                        <a href="#about-us.html"><i class="fas fa-shopping-bag"></i></a>
                    </li>
                    <li class="phone__items">
                        <a href="" class="border-top">магазин сорочек</a>
                    </li>
                    <li class="phone__items">
                        <a href="">создать свою сорочку</a>
                    </li>
                    <li class="phone__items">
                        <a href="">мужской костюм</a>
                    </li>
                    <li class="phone__items">
                        <a href="">свадебный костюм</a>
                    </li>
                </ul>
                </ul>
            </nav>
        </div>
    </div>
</header>