.checkout {
    padding: 3vw 1vw;

    .cart-product {
        padding: 2em 0;
        border-bottom: 1px dashed #ababab;
        border-top: 1px dashed #ababab;

        &__img {
            @include flex-center;
            @media screen and (max-width:639px) {
                margin-bottom: 1em;
            }
        }
        &__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0.5em;
        }

        &__tite {
            display: block;
            font: 400 150%/1.3 $main-font-family;
            color: #1a2d40;
        }

        .price {
            font: 300 160%/1.3 $main-font-family;
        }

        &__info {
            margin-bottom: 2em;
            font-size: 100%;
            color: #222;
            display: block;

            span {
                font-weight: 500;
            }
        }

        .table {
            display: none;
            margin-top: 2em;

            td {
                font-weight: 300;
                padding: .2em 2em .2em 0;
                white-space: nowrap;
            }
        }

        &__count {
            font-size: 200%;
            margin-bottom: 5px;

            .minus,
            .plus {
                cursor: pointer;
            }
        }

        &__note {
            color: #c10006;
            margin-bottom: 1em;
            font-size: 100%;
        }

        &__link {
            display: flex;
            align-items: center;

            li {
                &:not(:last-child) {
                    margin-right: 1em;
                }

                a {
                    font: 300 100%/1.3 $main-font-family;
                    color: #1a2d40;
                    text-decoration: underline;
                }
            }
        }
    }

    .voucher {
        margin: 1em 0;
        font-size: 100%;

        i {
            margin-right: .5em;
            font-size: 2em;
        }
    }
    input {
        font-size: 1.1em;
        padding: .2em;
        height: 44px;
        margin: 0 5px 0 0;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .05);
        border: 1px solid #ababab;
    }
    .primaryButton {
        background-color: #1a2d40;
        margin: 1em 0;
        font-size: 100%;
        font-weight: 300;
        text-decoration: none!important;
        text-transform: uppercase;
        text-align: center;
        padding: .8em 2.3em;
        border: .1em solid transparent;
        color: $white-color
    }
    .wrp-input {
        display: flex;
        align-items: center;
        justify-content: flex-start;
     

        .voucher-btn {
            background-color: #fff;
            height: 44px;
            color: #1a2d40;
            padding: .7em 1.5em;
            font-size: 90%;
            border: .1em solid #1a2d40;
        }
    }

    .total-list {
        margin-top: 1em;

        li {
            padding: 0.3em 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                &:last-child {
                    font-size: 1.35em;
                }
            }

            p.spend {
                padding: .5em;
                text-align: center;
                background-color: #d8efda;
                font-size: 16px;
                width: 100%;
            }

            p.price {
                font-size: 2em;
            }
        }
    }

    .payment-title {
        border-top: 1px solid #aaa;
        text-transform: uppercase;
        margin: 1.5em 0;
        text-align: center;
        height: 1px;

        span {
            padding: 0 1em;
            font-size: 120%;
            font-weight: 400;
            background-color: #fff;
            top: -.68em;
            position: relative;
        }
    }

    .payments {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        @media screen and (max-width: 1023px) {
            flex-direction: column;
        }
    }

    .payment {
        height: 160px;
        margin: 15px 0;
        position: relative;
        width: 25%;
        padding-left: 15px;
        padding-right: 15px;
        @media screen and (max-width: 1023px) {
            width: 50%;
        }
        @media screen and (max-width: 639px) {
            width: 70%;
        }
    }
    .custom-radio {
        input[type=radio] {
            display: none;
        }

        input[type=radio]:checked+label {
            border-color: #3a8e42;
        }

        input[type=radio]:checked+label .checked {
            display: block;
        }

        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            border: 2px solid #e3e3e3;
            margin-bottom: 1em;
            width: 100%;
            height: 100%;
            padding: 15px;
        }

        .pay_logo {
            margin: 20px 0;
        }

        img {
            max-height: 45px;
            max-width: none;
        }

        .checkbox {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 16px;
            height: 16px;
            border-radius: 3px;
            border: 2px solid #ccc;
            overflow: visible;
        }

        .checked {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 4px;
            right: 4px;
            background: transparent url('../images/done.png') no-repeat;
            display: none;
        }

        .pay_descr {
            position: absolute;
            bottom: 15px;
            width: 100%;
            font-size: 11px;
            text-align: center;
        }

        .fedex {
            margin-top: 1em;
            position: relative;
            display: inline-block;
            overflow: hidden;
            border: 2px solid #e3e3e3;
            padding: 15px;
            cursor: pointer;
            height: 100%;
            width: 100%;
            .delivery-date {
                font-size: 13px;
                margin: 1em 0;
            }
        }
    }
    .form {
        text-align: center;
        label {
            color: #333;
            font-weight: 300;
            text-align: left;
            .required {
                vertical-align: super;
                color: red;
                display: inline-block;
                padding: 0 .3em;
            }
        }
    }
}

.underline {
    text-decoration: underline;
    position: relative;
    padding-right: 20px;

    &::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 18px;
        content: "\f105";
        color: #222;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &.active {
        &::after {
            content: "\f107";
        }
    }
}