.shop {
    background-color: #1a2d40;
    color: $white-color;
    &__text {
        padding: 2em 4em;
        p {
            font-size: 100%;
            margin-bottom: 1em;
        }
    }
    &__title {
        margin-bottom: 0.3em;
        & > * {
            font: 900 225%/1.3 $main-font-family;
            color: $white-color;
        }
    }
    .wrp-bg {
        height: 200px;
        background-image: url('../images/shop-block.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        @media screen and (min-width: 1024px) {
            height: 100%;
        }
    }
}
.shop-product {
    padding: 0 3vw;
    font-size: 17px;
    .product__row {
        flex-wrap: wrap;
    }
    .filter {
        padding-top: 70px;
        &__title {
            font: 400 20px/1.3 $main-font-family;
            color: #222222;
            margin-bottom: 0.2em;
            padding-right: 10px;
            display: block;
            position: relative;
            &::after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 18px;
                content: "\f105";
                color: #222;
                position: absolute;
                top: 50%;
                right: 5px;
                transform: translateY(-50%);
            }
            &.active {
                &::after {
                    content: "\f107";
                }
            }
        }
        &__list {
            display: none;
            margin-bottom: 3em;
            &--color {
                a {
                    padding-left: 30px;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 5px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                    }
                    &.white {
                        &::before {
                            background-color: #fff;
                            border: 1px solid #ababab;
                        }
                    }
                    &.lightblue {
                        &::before {
                            background-color: #c6d0eb;
                        }
                    }
                    &.blue {
                        &::before {
                            background-color: #273766;
                        }
                    }
                    &.offwhite {
                        &::before {
                            background-color: #ebe1cb;
                        }
                    }
                    &.green {
                        &::before {
                            background-color: #295731;
                        }
                    }
                    &.black {
                        &::before {
                            background-color: #000;
                        }
                    }
                    &.red {
                        &::before {
                            background-color: #8c241f;
                        }
                    }
                    &.gray {
                        &::before {
                            background-color: #555;
                        }
                    }
                    &.orange {
                        &::before {
                            background-color: #e4783f;
                        }
                    }
                    &.purple {
                        &::before {
                            background-color: #443050;
                        }
                    }
                    &.pink {
                        &::before {
                            background-color: #e9aacb;
                        }
                    }
                    &.beige {
                        &::before {
                            background-color: #bfac8d;
                        }
                    }
                    &.solid {
                        &::before {
                            background-image: url('../images/solid.svg');
                        }
                    }
                    &.striped {
                        &::before {
                            background-image: url('../images/striped.svg');
                            background-size: cover;
                        }
                    }
                    &.checked {
                        &::before {
                            background-image: url('../images/checked.svg');
                            background-size: cover;
                        }
                    }
                    &.dotted {
                        &::before {
                            background-image: url('../images/dotted.svg');
                            background-size: cover;
                        }
                    }
                    &.printed {
                        &::before {
                            background-image: url('../images/printed.svg');
                            background-size: 50px 50px;
                        }
                    }
                }
            }
        }
        &__items {
            margin-bottom: 0.25em;
            a {
                display: block;
                border-bottom: 1px solid transparent;
                color: #1a2d40;
                font-size: 100%;
                &:hover {
                    border-color: #1a2d40;
                }
            }
        }
    }
    .horizontal-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 1023px) {
            margin-top: 1em;   
        }
    }
    .horizontal-items {
        padding: 1em 0;
        color: #222;
        display: flex;
        align-items: center;
        min-width: 180px;
        label {
            display: flex;
            align-items: center;
        }
        p,
        a,
        select,
        label {
            font-size: 12px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: inherit;
            margin-bottom: 0;
            line-height: 1;
        }
        select {
            line-height: normal!important;
            font-size: .8em;
            font-weight: 300;
            border: 1px solid #e3e3e3;
            margin: 1px 0;
            height: 45px;
            border-radius: 5px;
            background-color: rgb(248, 248, 248);
            max-width: 115px;
            margin-left: auto;
        }
        a {
            text-decoration: underline;
        }
    }    
}