$img-path: '../images/';




$main-color-text: #E9F6FC;
$black-color: #000000;
$bg-color-srv: #F4F7FA;
$second-color: #9B2D30;
$style-wrapp-color: #313541;
$white-color: #fff;


$header-text-color: #222b22;


$footer-color: #0b0909;

$main-font-family: 'NeueHansKendrick', sans-serif;
$second-font-family: 'Josefin Sans',sans-serif;

$main-color: #ed145b;

$text_title_color: #000000;
$text-color: #000;